<!-- MAIN -->
<div class="container container-global">
  <div class="row text-center divTimer align-items-center">
    <div class="col">
      {{hoursToDday}} heures
    </div>
    <div class="col">
      {{minutesToDday}} minutes
    </div>
    <div class="col">
      {{secondsToDday}} secondes
    </div>
  </div>

  <div class="row" style="height: 500px">
    <div class="col-4 background d-flex">
      <div class="m-auto col-9 encart">
        <p class="surtitre">Le thème</p>
        <h2>Villes et bâtiments intelligents</h2>
      </div>
    </div>
    <div class="col-8">
      <div class="row participant">
        <div class="col">
          <h4>ESPACE PARTICIPANTS</h4>
        </div>
      </div>
      <div class="row liens">
        <div class="col">
          <a href="https://teams.microsoft.com/l/team/19%3a3544723d9c6e447093d535d55a696a8e%40thread.tacv2/conversations?groupId=171b5c5e-feb1-499f-9192-ab3b1d4e2e0f&tenantId=e8b88f3d-222b-4ce5-b9d1-46b0ff9466a0" target="_blank" class="link">Accéder au teams</a><br/>
          <p style="margin-top: 5px">Canal principal du YUL.code pour communiquer avec vos équipiers et membres
            onepoint</p>
        </div>
        <div class="col">
          <a href="https://www.groupeonepoint.com/ca" target="_blank" class="link">Découvrir onepoint</a><br/>
          <p style="margin-top: 5px">Parcourez le site web de onepoint, ses expertises, projets phares, actualités et
            point de vues sur le monde du
            digital</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b>L'équipe onepoint</b><br/>
          Venez suivre l'actualité de onepoint Canada grâce aux comptes Linkedin des équipes
        </div>
      </div>
      <div class="row team">
        <div class="col">
          <div class="row ">
            <div class="col-4">
              <img src="assets/images/mark-andre.jpeg" class="imgLinkedin">
            </div>
            <div class="col-8">
              <a href="https://www.linkedin.com/in/ma-tremblay/" class="nameLinkedin" target="_blank"><b>Mark-Andre TREMBLAY</b></a><br/>
              <p class="job">Recruteur de Talents TI<br/>
                Chef de projet YUL.code</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row ">
            <div class="col-4">
              <img src="assets/images/lucas.jpeg" class="imgLinkedin">
            </div>
            <div class="col-8">
              <a href="https://www.linkedin.com/in/lucasdaull/" class="nameLinkedin" target="_blank"><b>Lucas DAULL</b></a><br/>
              <p class="job">Développeur d'affaires</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row ">
            <div class="col-4">
              <img src="assets/images/maeliss.jpg" class="imgLinkedin">
            </div>
            <div class="col-8">
              <a href="https://www.linkedin.com/in/maeliss-huwart-14746812b/" class="nameLinkedin" target="_blank"><b>Maeliss HUWART</b></a><br/>
              <p class="job">Chargé marketing digital et communication</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row background-sponsor">
        <div class="col center text-center align-items-center">
          <b>LES PARTENAIRES</b>
        </div>
        <div class="col">
          <img src="assets/images/MCV.png" style="height: 65px">
        </div>
        <div class="col">
          <img src="assets/images/ie.png" style="width: 150px">
        </div>
        <div class="col center text-center align-items-center">
          <div class="row">
            <div class="col">
              <i class="fab fa-linkedin" style="font-size:30px"></i>
            </div>
            <div class="col">
              <i class="fab fa-facebook-square" style="font-size:30px"></i>
            </div>
            <div class="col">
              <i class="fab fa-instagram" style="font-size:30px"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


