<p>Mark-Andre's map </p>

<div>
  <label>Horloge : {{timer}}</label>
</div>

<div *ngIf="mapResponse != null" style="width: 2250px">
  <span *ngFor="let tabSquare of mapResponse?.square; let y = index">
    <span *ngIf="tabSquare != null">
      <span *ngFor="let square of tabSquare; let x = index" class="spanLine">
        <img *ngIf="square.image != undefined" alt="image" class="image1" src="{{square.image}}"/>
        <span *ngFor="let avatar of avatarList;">
          <img *ngIf="display(x, y, avatar)" alt="image" class="image2" src="{{avatar.image}}" />
        </span>
      </span>
    </span>
    <br/>
  </span>
</div>




